:root {
    --black: #242424;
    --white: #f2f2f2;
    --gold: #c2963a;
    --red: #bb4545;
    --dark-gold: #a6662e;

    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;

    --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    color: var(--black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}
nav {
    background-color: var(--red);
    color: var(--white);
    justify-content: space-between;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    text-align: center;
    width: 100%;
}
.logo img{
    height: 50px;
}
ul{
    list-style: none;
    display: flex;
    padding: 0;
}
li {
    margin: 0 10px;
}
a {
    color: var(--white);
    text-decoration: none;
}
.section {
    padding: 5rem;
}
.section-header {
    text-align: center;
}
.section-title {
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-title);
    color: var(--black);
    text-align: center;
}
.section-tagline {
    font-family: var(--font-family-title);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--red);
    text-transform: capitalize;
}

.right img {
    width: 100%;
}
.left img {
    width: 100%;
}
.footer {
    background-color: var(--red);
    font-size: 1.5rem;
    color: var(--white);
    font-weight: var(--font-weight-bold);
    display: inline-block;
    width: 100%;
    overflow: hidden;
    padding: 5px;
}
.footer-logo img {
    height: 50px;
}
.footer-logo {
    float: left;
}
.footer-content {
    float: right;
}
@media only screen and (min-width: 992px) {
        nav {
        display: flex;
        align-items: center;
        font-size: var(--font-size-x-large);
        width: 100%;
        height: fit-content;
        height: 180px;
        padding: 5px;
    }
    .nav-content {
        float: right;
    }
    .logo {
        float: left;
    }
    .logo img {
        height: 150px;
    }
    html {
        font-size: 75%;
    }
        .footer-logo img {
        height: 100px;
    }
    .footer-content {
        padding: 5px;
    }
}